


<div class="w-full h-64 bg-gradient-to-br from-blue-900 to-indigo-50 overflow-hidden">
    
    <div class=" transition duration-100 ease-in-out transform hover:scale-y-110 hover:shadow-2xl hover:mt-2">
        <div class="">
            Title: Here is the title
        </div>
        <div>
            Sinopsis
        </div>
    </div>

</div>