<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
    </style>
</head>
<body class="bg-white">
    <div class="absolute  h-full w-full">
        <!--Navigation bar-->
        <div class="bg-black w-full  px-4 h-20 flex flex-1 shadow-2xl" >
            <div class="w-1/5 flex items-center">
                <div class="">
                    <a asp-action="Main"class="text-5xl text-center text-white">Cine+</a>
                </div>
            </div>
            <div class="w-3/5 flex items-end justify-center">
                <div class="">
                    <a  asp-action="Main" class="text-2xl text-center text-white">Home</a>
                </div>
            </div>
            <div class="w-1/5 flex items-center justify-end">
                <div class="">
                    <a asp-controller="Users" asp-action="Login" class="text-2xl text-center text-white">Login</a>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <footer class=" absolute bottom-0 h-4 bg-black w-full">

    </footer>
</body>
</html>

