@inject SignInManager<TheaterUser> _signInManager;

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="author" content="name">
    <meta name="description" content="The best fucuk*ng web">
    <meta name="keywords" content="keywords,here, description">
    <link rel="stylesheet" href="~/lib/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/all.css">
    <script src="~/lib/jquery/dist/jquery.min.js"> </script>
    <script>
        var cont = 0;
        function loopSlider() {
            var xx = setInterval(function () {
                switch (cont) {
                    case 0: {
                        $("#slider-1").fadeOut(400);
                        $("#slider-2").delay(400).fadeIn(400);
                        $("#sButton1").removeClass("bg-purple-800");
                        $("#sButton2").addClass("bg-purple-800");
                        cont = 1;

                        break;
                    }
                    case 1:
                        {

                            $("#slider-2").fadeOut(400);
                            $("#slider-1").delay(400).fadeIn(400);
                            $("#sButton2").removeClass("bg-purple-800");
                            $("#sButton1").addClass("bg-purple-800");

                            cont = 0;

                            break;
                        }


                }
            }, 8000);

        }

        function reinitLoop(time) {
            clearInterval(xx);
            setTimeout(loopSlider(), time);
        }



        function sliderButton1() {

            $("#slider-2").fadeOut(400);
            $("#slider-1").delay(400).fadeIn(400);
            $("#sButton2").removeClass("bg-purple-800");
            $("#sButton1").addClass("bg-purple-800");
            reinitLoop(4000);
            cont = 0

        }

        function sliderButton2() {
            $("#slider-1").fadeOut(400);
            $("#slider-2").delay(400).fadeIn(400);
            $("#sButton1").removeClass("bg-purple-800");
            $("#sButton2").addClass("bg-purple-800");
            reinitLoop(4000);
            cont = 1

        }

        $(window).ready(function () {
            $("#slider-2").hide();
            $("#sButton1").addClass("bg-purple-800");


            loopSlider();






        });


    </script>
    <style>


        .toggle_dot {
            top: -.25rem;
            transition: all 0.3s ease-in-out;
        }

        input:checked ~ .toggle_dot {
            transform: translateX(100%);
            background-color: #0082c8;
        }

        .bg-gradient {
            background: #667db6;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .bg-gradient-base {
            background-color: #0082c8;
        }

        .font-work-sans {
            font-family: 'Work Sans', sans-serif;
        }

        :root {
            --shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
            --ring-offset-shadow: 0 0 #0000;
            --ring-shadow: 0 0 #0000;
        }

        .card_open {
            animation-duration: 500ms;
            animation-name: card_open;
        }


        @@keyframes card_open {
            from {
                height: 1%;
                box-shadow: var(--shadow);
            }

            to {
                height: 100%;
                box-shadow: var(--ring-offset-shadow,0 0 #0000),var(--ring-shadow,0 0 #0000),var(--shadow);
            }
        }

        .animated {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

            .animated.faster {
                -webkit-animation-duration: 500ms;
                animation-duration: 500ms;
            }

        .fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
        }

        .fadeOut {
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
        }

        @@keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @@keyframes fadeOut {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }
    </style>
</head>
<body class="bg-white font-sans leading-normal tracking-normal">

    <nav class="flex absolute top-0 items-center justify-between flex-wrap bg-gray-800 shadow-2xl p-8 fixed w-full z-40 top-0">
        <div class="flex items-center flex-shrink-0 text-white mr-6">

            <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
                <span class="text-center font-bold text-4xl mt-8 tracking-wide relative animate-spin pl-2"><i class="em em-grinning"></i>Cine+</span>
            </a>
        </div>
        <div class="justify-end">
            <a class="text-md text-white">@User.Identity.Name</a>
        </div>
        <div class="block lg:hidden">

            <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
            </button>
        </div>

        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-red-600 no-underline hover:text-gray-200 hover:text-underline" asp-controller="Main" asp-action="Index">Home</a>
                </li>
                <li class="mr-3 ">
                    <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="Movie" asp-action="MainMovies">Films</a>
                </li>
                <li class="mr-3 ">
                    <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="Show" asp-action="MainShows">Shows</a>
                </li>
                
                @if (_signInManager.IsSignedIn(User))
                {
                    <li class="mr-3">

                        <a class="inline-block text-red-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="TheaterUser" asp-action="Logout">Log out</a>
                    </li>
                    <li class="mr-3">

                        <a class="inline-block text-red-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="TheaterUser" asp-action="MainProfile">Profile</a>
                    </li>
                }
                else
                {
                    <li class="mr-3">
                        <a class="inline-block text-red-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="TheaterUser" asp-action="Login">Log in</a>
                    </li>
                }

            </ul>
        </div>

    </nav>

    <!--Container-->
    <div class="w-full h-full content shadow-lg mx-auto mt-24 md:mt-18 bg-cover bg-fixed" style="background-image:url('@Url.Content("~/images/bg.jpg")');">
        @RenderBody()
    </div>
    <div class="bg-gray-900">
        <footer class="flex flex-wrap items-center justify-between p-3 m-auto">
            <div class="container mx-auto flex flex-col flex-wrap items-center justify-between">
                <ul class="flex mx-auto text-white text-center">
                    <li class="p-2 cursor-pointer hover:underline">Terms & Conditions</li>
                    <li class="p-2 cursor-pointer hover:underline">Privacy</li>
                    <li class="p-2 cursor-pointer hover:underline">Cookies</li>
                </ul>
                <ul class="flex mx-auto text-white text-center">
                    <li class="p-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" width="24" height="24" viewBox="0 0 24 24"><path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z" /></svg></li>
                    <li class="p-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" width="24" height="24" viewBox="0 0 24 24"><path d="M21.231 0h-18.462c-1.529 0-2.769 1.24-2.769 2.769v18.46c0 1.531 1.24 2.771 2.769 2.771h18.463c1.529 0 2.768-1.24 2.768-2.771v-18.46c0-1.529-1.239-2.769-2.769-2.769zm-9.231 7.385c2.549 0 4.616 2.065 4.616 4.615 0 2.549-2.067 4.616-4.616 4.616s-4.615-2.068-4.615-4.616c0-2.55 2.066-4.615 4.615-4.615zm9 12.693c0 .509-.413.922-.924.922h-16.152c-.511 0-.924-.413-.924-.922v-10.078h1.897c-.088.315-.153.64-.2.971-.05.337-.081.679-.081 1.029 0 4.079 3.306 7.385 7.384 7.385s7.384-3.306 7.384-7.385c0-.35-.031-.692-.081-1.028-.047-.331-.112-.656-.2-.971h1.897v10.077zm0-13.98c0 .509-.413.923-.924.923h-2.174c-.511 0-.923-.414-.923-.923v-2.175c0-.51.412-.923.923-.923h2.174c.511 0 .924.413.924.923v2.175z" fillRule="evenodd" clipRule="evenodd" /></svg></li>
                    <li class="p-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-white" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" /></svg></li>
                </ul>
                <div class="flex mx-auto text-white text-center">
                    Copyright Cine+ © 2021
                </div>
            </div>
        </footer>
    </div>
    <script>
        //Javascript to toggle the menu
        document.getElementById('nav-toggle').onclick = function () {
            document.getElementById("nav-content").classList.toggle("hidden");
        }
    </script>

</body>
</html>