@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
    </style>
</head>
<body class="">
    <div class="absolute flex h-full w-full">


        <div class="w-full h-full overflow-hidden bg-cover bg-no-repeat" style="background-image:url('@Url.Content("~/images/bg.jpg")');">
            <!--Navigator-->
            <div class="flex">
                <div class="flex-1 ">
                    <div class="inline-block mt-2 ml-2 text-5xl text-white text-center subpixel-antialiased font-sans">
                        Cine+
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>

