@{
    Layout = "~/Views/Main/_Layout.cshtml";
}


<div class="flex w-full items-center justify-center shadow-2xl">
    @await Html.PartialAsync("ShowView")
    @await Html.PartialAsync("ShowView")
    @await Html.PartialAsync("ShowView")
    @await Html.PartialAsync("ShowView")
    @await Html.PartialAsync("ShowView")

</div>
    