<div class="col-6">
        <div class="card-title">Salas</div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Asientos</th>
                <th scope="col">Películas</th>
                <th scope="col">Funciones</th>
                <th scope="col">Acción</th>
            </tr>
            </thead>
            <tbody>
            @for (int j = 0; j < 3; j++)
            {
                <tr>
                    <th scope="row">@j</th>
                    @for (int i = 0; i < 3; i++)
                    {
                        <td>@(new Random(i * j).Next()) @j @i</td>
                    }
                    <td>
                        <div class="inline-flex">
                            <button class="bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded-l">
                                Edit
                            </button>
                            <button class="bg-gray-200 hover:bg-red-500 text-black-dark font-bold py-2 px-4 rounded-r">
                                Elim
                            </button>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    <button data-modal="formCinema" class="modal-trigger bg-red-500 hover:bg-red-200 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-500 rounded">Agregar Sala</button>
        <div id="formCinema" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Agregar Sala
                        </div>
                    </div>
                    <!-- Modal content -->
                    <form id="form_id" class="w-full">
                        <div class="form-group row">
                            <div class="col-10">
                                <input class="form-control" type="number" placeholder="Cantidad de sillas" id="example-text-input">
                            </div>
                        </div>
                        <div class="mt-5">
                            <button class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded"> Crear </button>
                            <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                Cerrar
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>