<div class="card-body row">
    <!-- Member -->
    <div class="col-12">
        <div class="card-title">Miembros Asociados</div>
        <table class="table table-active">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Tarjeta</th>
                <th scope="col">Código</th>
                <th scope="col">Puntos</th>
                <th scope="col">Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>
                    <div class="inline-flex">
                        <button class="bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded-l">
                            Edit
                        </button>
                        <button class="bg-gray-200 hover:bg-red-500 text-black-dark font-bold py-2 px-4 rounded-r">
                            Elim
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>fat</td>
                <td>fat</td>
                <td>
                    <div class="inline-flex">
                        <button class="bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded-l">
                            Edit
                        </button>
                        <button class="bg-gray-200 hover:bg-red-500 text-black-dark font-bold py-2 px-4 rounded-r">
                            Elim
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>twitter</td>
                <td>
                    <div class="inline-flex">
                        <button class="bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded-l">
                            Edit
                        </button>
                        <button class="bg-gray-200 hover:bg-red-500 text-black-dark font-bold py-2 px-4 rounded-r">
                            Elim
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <button data-modal="formMemb" class="modal-trigger bg-red-500 hover:bg-red-200 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-500 rounded">Agregar Miembro</button>
        <div id="formMemb" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Agregar Miembro
                        </div>
                    </div>
                    <!-- Modal content -->
                    <div class="form-group row">
                        <div class="col-10">
                            <input class="form-control" placeholder="Nombre" type="text" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-10">
                            <input class="form-control" placeholder="Correo" type="text" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-10">
                            <input class="form-control" placeholder="Tarjeta" type="text" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-10">
                            <input class="form-control" type="number" placeholder="Código" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-10">
                            <input class="form-control" type="number" placeholder="Puntos" id="example-text-input">
                        </div>
                    </div>
                    <form id="form_id" class="w-full">
                        <div class="mt-5">
                            <button class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded"> Crear </button>
                            <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                Cerrar
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>