<div class=" w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5">Promociones</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
            <tr>
                <th class="px-4 py-3">Descripción</th>
                <th class="px-4 py-3">Descuento</th>
                <th class="px-4 py-3">Acción</th>
            </tr>
            <tbody>
            @foreach (var item in Model.Result)
            {
                <tr class="bg-gray-100 border-b border-gray-200">
                    <th class="px-4 py-3">@item.Description</th>
                    <th class="px-4 py-3">@item.Discount</th>
                    <th class="px-4 py-3">
                        <div class="inline-flex">
                            <button class="bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded-l">
                                Edit
                            </button>
                            <button class="bg-gray-200 hover:bg-red-500 text-black-dark font-bold py-2 px-4 rounded-r">
                                Elim
                            </button>
                        </div>
                    </th>
                </tr>
            }
            </tbody>
        </table>
        <button data-modal="formProm" class="modal-trigger bg-red-500 hover:bg-red-200 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-500 rounded">Agregar Promoción</button>
        <div id="formProm" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Agregar Promoción
                        </div>
                    </div>
                    <!-- Modal content -->
                    <div class="form-group row">
                        <div class="col-10">
                            <input class="form-control" placeholder="Descripción" type="text" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-10">
                            <input class="form-control" placeholder="Descuento" type="number" id="example-text-input">
                        </div>
                    </div>
                    <form id="form_id" class="w-full">
                        <div class="mt-5">
                            <button class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded"> Crear </button>
                            <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                Cerrar
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>