@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
<<<<<<< HEAD
<button class="bg-blue-500 hover:bg-blue-200 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-500 rounded">
=======
<button class="bg-blue-500 hover:bg-blue-200 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-500 rounded" asp-controller="Cinema" asp-action="CinemaList">
>>>>>>> BackEnd
    3D Button
</button>