@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
<button class="bg-blue-500 hover:bg-blue-200 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-500 rounded">
    3D Button
</button>