@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="Movie" asp-action="MovieList">Peliculas</a>
        <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="Cinema" asp-action="CinemaList">Cinemas</a>
        <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="TheaterMember" asp-action="MemberList">Miembros</a>
        <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="Show" asp-action="ShowList">Funciones</a>
        <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="TheaterUser" asp-action="UserList">Usuarios</a>
        <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="Ticket" asp-action="TicketList">Entradas</a>
        <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="Producer" asp-action="ProducerList">Realizadores</a>
        <a class="inline-block text-red-600 no-underline  hover:text-gray-200 hover:text-underline py-2 px-4" asp-controller="Discount" asp-action="DiscountList">Descuentos</a>
        </div>
</div>