@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
<div class="card" style="margin: 7px; opacity: .9; background-color: lightgray">
    <div class="card-header">
        <div class="card-title" style="font-size: large">
        Administración
        </div>
    </div>
@await Html.PartialAsync("_Films")
<div class="card-body row">
    <!-- Funcion -->
    @await Html.PartialAsync("_Shows")
    <!-- Sala -->
    @await Html.PartialAsync("_Cinema")
</div>
</div>
