@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
<br>
<div class="card bg-dark" style="opacity: 80%; color: white">
    <div class="row" style="margin: 10px">
        <div class="col-6">
            <div class="card-header">Statistics</div>
            <form method="post">

                <div class="form-group row">
                    <div class="col-4">
                        <!--<span asp-validation-for="CinemaId"></span>-->
                    </div>
                    <div class="col-4">
                        <label for="example-time-input" class="col-form-label">Date</label>
                        <input name="date" class="form-control" type="Date">
                    </div>
                        <label for="example-time-input" class="col-form-label">Search By:</label>
                        <select name="statics_by" id="criterion" class="form-select form-control" aria-label="Default select example">
                            <option value="year">Category</option>
                            <option value="film">Film</option>
                            <option value="rating">Rating</option>
                        </select>
                        <input name="Value" class="form-control"
                </div>
                <div class="card">
                    <div class="card-body">
                        <p class="text-black-dark">Number of Tickets: </p>
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 ml-4 mt-4 hover:bg-blue-200 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-500 rounded">Search</button>

            </form>
        </div>
        <div class="col-6">
            <div class="card-header">Films to show</div>
            <div class="form-group row">
                <div class="col-4">
                    <label for="example-time-input" class="col-form-label">Search: </label>
                    <select name="filmsCriteria" id="criterion" class="form-select form-control" aria-label="Default select example">
                        <option value="liked">Most liked movies</option>
                        <option value="economic">Economic gain</option>
                    </select>
                    <br>
                    <button type="submit"  class="bg-blue-500 hover:bg-blue-200 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-500 rounded">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
