@{
    Layout = "~/Views/Users/_Layout.cshtml";
}

<div class="mt-10 px-12 sm:px-24 md:px-48 lg:px-12 lg:mt-16 xl:px-24 xl:max-w-2xl">
    <h2 class="text-center text-4xl text-red-900 font-display font-semibold lg:text-left xl:text-5xl
                    xl:text-bold">
        Register
    </h2>
    <div class="mt-12">
        <form>
            <div>
                <div class="text-sm font-bold text-gray-700 tracking-wide">Email Address</div>
                <input class="w-full pl-2 text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="email" placeholder="mike@gmail.com">
            </div>
            <div class="mt-8">
                <div class="flex justify-between items-center">
                    <div class="text-sm font-bold text-gray-700 tracking-wide">
                        Password
                    </div>
                </div>
                <input class="w-full text-lg pl-2 py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="password" placeholder="Enter your password">
                <input class="mt-4 w-full pl-2  text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="password" placeholder="Repeat your password">
            </div>
            <div class="mt-10">
                <button class="bg-red-500 text-gray-100 p-4 w-full rounded-full tracking-wide
                                font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-red-600
                                shadow-lg">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>
